<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tareas programadas</h4>
    <button type="button" class="close" aria-label="Close" (click)="CerrarModalTareas()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-group row mt-3">
            <label class="col-sm-2 h6">Referencia/ Condición</label>
            <div class="col-sm-10" >
                <div class="input-group">
                    <input [readonly]="inputAbrirModalSelRefCond" name="selRefCond" [(ngModel)]="InputselRefCond"  type="text" class="form-control">
                    <div class="input-group-append">
                        <button  (click)="abrirModalSelRefCond()" [disabled]="btnAbrirModalSelRefCond" class="btn btn-primary" type="button"><i class="fas fa-search fa-lg"></i></button>
                    </div>
                </div>

            </div>
        </div>        
        <div *ngIf="ReferenciaRequerido" class="col-sm-12 alert alert-danger">
            Referencia / Condición es requerido.
        </div>
        <div class="form-group row">
            <label class="col-sm-2 h6 mt-2">Frecuencia</label>
            <div class="col-sm-10 " >
                <select class="form-control form-select" placeholder="Seleccione frecuencia" name="SelectFrecuencia" [(ngModel)]="SelectFrecuencia" (change)="onChangeFrecuenciaSelect($event)">
                    <option [ngValue]="undefined" hidden selected></option>
                    <option value="Manual">Manual</option>
                    <option value="Diario">Diario</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Hora">Hora</option>
                </select>
            </div>
        </div>
        <div *ngIf="FrecuenciaRequerido" class="col-sm-12 alert alert-danger">
            Frecuencia es requerida.
        </div>
        <div class="form-group row">
            <label class="col-sm-2 h6 mt-2">Fecha Inicio</label>
            <div class="col-sm-10" >
                <div ngbDropdown>
                    <div class="input-group">
                        <input class="form-control" 
                               name="dp" [(ngModel)]="FechaInicio" [disabled]="!InputFechaInicio" autocomplete="off" 
                               onkeypress="return false"  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div *ngIf="FechaInicioRequerido" class="col-sm-12 alert alert-danger">
            Fecha de inicio es requerida.
        </div>
        <div class="form-group row">
            <label class="col-sm-2 h6 mt-2">Hora inicio</label>
            <div class="col-sm-3" >
                <div ngbDropdown>
                    <input type="text" autocomplete="off" onkeypress="return false" class="form-control "
                     [(ngModel)]="HoraInicio" name="HoraInicio" [disabled]="!InputHoraInicio" ngbDropdownToggle >
                    
                    <div ngbDropdownMenu class="hora" >
                      <ngb-timepicker [(ngModel)]="SelHoraInicio" (ngModelChange)="onTimeChangeSelectHoraInicio($event)" [ngModelOptions]="{standalone:true}">
                      </ngb-timepicker>

                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="text-align:right">
                <div class="custom-control form-control-lg custom-checkbox">
                    <input type="checkbox" [disabled]="!InputCheckboxHoraFin" [checked]="checkboxHoraFin" (change)="checkboxHoraFin = !checkboxHoraFin; HoraFinDeshabilitado()" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
            </div>        
            <label class="col-sm-2 h6 mt-2">Hora fin</label>
            <div class="col-sm-3" >
                <div ngbDropdown>
                    <input  type="text" autocomplete="off" onkeypress="return false"  [disabled]="!checkboxHoraFin && !inputHoraFin"  class="form-control " [(ngModel)]="HoraFin" name="HoraFin" ngbDropdownToggle >
                    <div ngbDropdownMenu class="hora">
                      <ngb-timepicker   [(ngModel)]="SelHoraFin" (ngModelChange)="onTimeChangeSelectHoraFin($event)" [ngModelOptions]="{standalone:true}">
                      </ngb-timepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <div *ngIf="HoraInicioRequerido" class="col-sm-6 alert alert-danger text-left">
                Hora de inicio es requerida.
            </div>
            <div *ngIf="HoraFinRequerido && !HoraInicioRequerido" class="col-sm-6 float-right">
            </div>
            <div *ngIf="HoraFinRequerido" class="col-sm-6 alert alert-danger float-right">
                Hora de fin es requerida.
            </div>
        </div>

        <label class="text-right h6">Repetir cada</label>
        <div class="repetirCada">
            <div class="form-group row">
                <label class="col-sm-2 h6  mt-2">Hora</label>
                <div class="col-sm-3 " >
                    <input type="number" min="1" max="24" oninput="validity.valid||(value='');" name="RepetirHora" [disabled]="!FrecuenciaHora" [(ngModel)]="RepetirHora" class="form-control">
                </div>
            </div>
            <div *ngIf="RepetirHoraRequerido" class="col-sm-5 alert alert-danger">
                Repetir hora es requerida.
            </div>
            <div class="form-group row">
                <label class="col-sm-2 h6 mt-2">Día</label>
                <div class="col-sm-3" >
                    <input type="number" min="1" max="366" oninput="validity.valid||(value='');" name="RepetirDia" [disabled]="!FrecuenciaDiario"  [(ngModel)]="RepetirDia" class="form-control">
                </div>
            </div>
            <div *ngIf="RepetirDiaRequerido" class="col-sm-5 alert alert-danger">
                Repetir día es requerida.
            </div>
            <div class="form-group row">
                <label class="col-sm-2 h6 mt-2">Día de la semana</label>
                <div class="col-sm-10 " >
                    <div ngbDropdown>
                        <input type="text" autocomplete="off"  onkeypress="return false" [disabled]="!FrecuenciaSemanal" name="RepetirDiasSemana" [(ngModel)]="RepetirDiasSemana" name="RepetirDiasSemana" class="form-control " ngbDropdownToggle >
                       
                        <div ngbDropdownMenu>
                            <div *ngFor="let data of DiasSemana; let i=index">
                                <label>
                                  <input type="checkbox" [checked]="data.checked" name="{{data.name}}" [value]="data.value" (change)="onChangeCheckboxDiaSemana($event)" />
                                  {{data.name}}
                                </label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="RepetirSemanaRequedio" class="col-sm-12 alert alert-danger">
                Repetir día de la semana es requerida.
            </div>
            <div class="form-group row">
                <label class="col-sm-2 h6 mt-2">Dia del mes</label>
                <div class="col-sm-3 mt-1" >
                    <input type="number" min="1" max="31" oninput="validity.valid||(value='');" name="RepetirMes" [disabled]="!FrecuenciaMensual" [(ngModel)]="RepetirMes" class="form-control">
                </div>
            </div>
            <div *ngIf="RepetirMesRequerido" class="col-sm-5 alert alert-danger">
                Repetir día del mes es requerida.
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 h6 mt-2">Comentarios</label>
            <div class="col-sm-10 " >
                <textarea class="form-control" [(ngModel)]="Comentarios" name="Comentarios" style="width: 100%; max-width: 100%;resize: none;" name="Text1"  rows="2"></textarea>
            </div>
        </div>
        <div *ngIf="ComentariosRequerido" class="col-sm-12 alert alert-danger">
            Comentario es requerida.
        </div>
        <div *ngIf="ComentariosSobrepasa" class="col-sm-12 alert alert-danger">
            Comentario sobrepasa el limite por {{comentarioLimite}} caracteres.
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="btnGuardar" (click)="AgregarNuevoProceso()" class="btn btn-primary">Guardar</button>
        <button type="submit" (click)="CerrarModalTareas()" class="btn btn-outline-dark">Cancelar</button>
    </div>
</form>