div.repetirCada {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #cccccc!important;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;

    }
    
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hora{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

  ::ng-deep .modalSize .modal-dialog { 
    max-width: 760px;
  
}