<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Historial de ejecución</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActive.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<form>
    <div class="modal-body">
        <label class="h5">Fecha de ejecución</label>
        <!-- <div class="row">

            <div class="col-1 mt-4">
                <label class="h6 mt-2">Del</label>
            </div>
            <div class="col-4 mt-4">
                <div ngbDropdown>
                    <div class="input-group">
                        <input class="form-control" 
                                name="FechaDocumentoInicio" [(ngModel)]="FechaInicio" autocomplete="off" 
                                onkeypress="return false" [maxDate]="FechaFinal" (click)="fi.toggle()" ngbDatepicker #fi="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="fi.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 mt-4">
                <label class="h6 mt-2">Al</label>
            </div>
            <div class="col-4 mt-4">
                <div ngbDropdown>
                    <div class="input-group">
                        <input class="form-control" 
                                name="FechaDocumentoInicio" [(ngModel)]="FechaFinal" autocomplete="off" 
                                onkeypress="return false" [minDate]="FechaInicio" (click)="ff.toggle()" ngbDatepicker #ff="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="ff.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 mt-4">
                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="CargarHistorialTransaccion(TransaccionClone)" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div> -->
    </div>
</form>

<div class="col-12">
    <table class="table table-responsive-sm table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Proceso</th>
                <th>Fecha Hr</th>
                <th>Mensaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="(!historial || historial?.length==0)">
                <td colspan="3">No hay registros</td>
            </tr>
            <tr *ngIf="SinBusqueda">
                <td colspan="3">Realice una búsqueda para cargar datos</td>
            </tr>
            <tr *ngFor="let item of historial">
                <td>{{item.proceso}}</td>
                <td>{{item.fechaHr | date:"dd-MM-yyyy HH:mm:ss"}}</td>
                <td>{{item.mensaje}}</td>
            </tr>

        </tbody>
    </table>
    <app-paginador *ngIf="!busquedaFiltrada" [paginador] = "paginador" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
    <app-paginador *ngIf="busquedaFiltrada" [paginador] = "paginadorFiltrado" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
</div>