tbody>tr>:nth-child(n+7){
    text-align:center;
   }
/* tbody>tr>:nth-child(9){
text-align:left;
} */
   
td{
    vertical-align: middle;
}
th{
    text-align: left;
}

input.checkbox {
    width: 18px;
    height: 18px;
  }

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.derecha{
    display: flex;
    justify-content: flex-end;
}



   


  
