<div class="row top-title" >
    <div class="col-xs-12">
        <h1 class="text-white-lighter">Monitor de pólizas</h1>
    </div>
</div>

<div class="form-group row mt-4" style="margin-top: 50px;" >

    <div class="col-sm-2 ">
        <label class="text-left h4 mt-2">A. Repetitivo</label>
    </div>

    <div class="col-sm-4 pull-left">
        <div class="input-group">

            <input readonly type="text" name="InputAsientoRepetitivo" [(ngModel)]="InputAsientoRepetitivo" class="form-control">
            
            <div class="input-group-append">
                <button (click)="abrirModalSelAsientoRepetitivo()" class="btn btn-primary" type="button"><i class="fas fa-search fa-lg"></i></button>
            </div>
        </div>
    </div>

    <div class="col-sm-2 ">
        <label class="text-left h4 mt-1">Estatus Transacción</label>
    </div>

    <div class="col-sm-4">
        <select [(ngModel)]="SelectEstatus" class="form-control form-select">
            <option value="undefined" hidden selected></option>
            <option value="0">Listo para procesar</option>
            <option value="1">Procesado con exito</option>
            <option value="2">En proceso</option>
            <option value="3">Error al procesar</option>
            <option value="4">En espera</option>
        </select>
    </div>
</div>

<div class="row" >    
    <div *ngIf="confTecnicaRequerido"  class="col-sm-6 alert alert-danger">
        Seleccione una configuracion tecnica para realizar la busqueda.
    </div>
</div>


<div class="form-group row " >
    <div class="col-sm-2 ">
        <label class="text-left h4 mt-2">Documento</label>
    </div>    
    <div class="col-sm-4 pull-left">
        <input  type="text" name="InputDocumento" [(ngModel)]="InputDocumento" class="form-control">
    </div>    
    <div class="col-sm ">
        <label class="text-left h4 mt-2">Fecha Documento</label>
    </div>    
    <div class="col-sm-4 row" >
        <div class="col-sm-5">
            <div ngbDropdown>
                <div class="input-group">
                    <input class="form-control" 
                            name="FechaDocumentoInicio" [(ngModel)]="FechaDocumentoInicio" autocomplete="off" 
                            onkeypress="return false" [maxDate]="FechaDocumentoFinal"  (click)="di.toggle()" ngbDatepicker #di="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="di.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                    
    

                </div>
            </div>
        </div>
        <span class="input-group-text" style="height: calc(1.5em + 0.875rem + 2px);">al</span>
        <div class="col-sm-5">
            <div ngbDropdown>
                <div class="input-group">
                    <input [disabled]="FechaDocumentoInicio==null || FechaDocumentoInicio==null " class="form-control" 
                            name="FechaDocumentoFinal"  [(ngModel)]="FechaDocumentoFinal" autocomplete="off" 
                            onkeypress="return false" [minDate]="FechaDocumentoInicio"  (click)="df.toggle()" ngbDatepicker #df="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="df.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" >    
    <div class="col-sm-6 "></div>
    <div *ngIf="FechaDocumentoRequerido" class="col-sm-6 alert alert-danger">
        Seleccione ambas fechas del Documento.
    </div>
</div>


<div class="form-group row " >
    <div class="col-sm-2 ">
        <label class="text-left h4 mt-2">Póliza</label>
    </div>    
    <div class="col-sm-4 pull-left">
        <input type="text" name="InputPoliza" [(ngModel)]="InputPoliza" class="form-control">
    </div>    
    <div class="col-sm ">
        <label class="text-right h4 mt-2">Fecha póliza</label>
    </div>
    <div class="col-sm-4 row" >
        <div class="col-sm-5">
            <div ngbDropdown>
                <div class="input-group">
                    <input class="form-control" 
                            name="FechaPolizaInicio" [(ngModel)]="FechaPolizaInicio" autocomplete="off" 
                            onkeypress="return false" [maxDate]="FechaPolizaFinal"   (click)="dpi.toggle()" ngbDatepicker #dpi="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpi.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <span class="input-group-text" style="height: calc(1.5em + 0.875rem + 2px);">al</span>
        <div class="col-sm-5">
            <div ngbDropdown>
                <div class="input-group">
                    <input [disabled]="FechaPolizaInicio==null || FechaPolizaInicio==null " class="form-control" 
                            name="FechaPolizaFinal" [(ngModel)]="FechaPolizaFinal" autocomplete="off" 
                            onkeypress="return false"  [minDate]="FechaPolizaInicio" (click)="dpf.toggle()" ngbDatepicker #dpf="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpf.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" row" >    
    <div class="col-sm-6 "></div>
    <div *ngIf="FechaPolizaRequerido" class="col-sm-6 alert alert-danger">
        Seleccione ambas fechas de la póliza.
    </div>
</div>

<div class="form-group row"  >

    <div class="col-sm-2 ">
        <label class="text-left h4">Proceso Transacción Pre-Póliza</label>
    </div>

    <div class="col-sm-4">
        <select [(ngModel)]="SelectProceso" class="form-control form-select">
            <option value="undefined" hidden selected></option>
            <option value="0">En Espera</option>
            <option value="1">Configuración Técnica</option>
            <option value="2">Cargar Información Del Origen</option>
            <option value="3">Generar Pre-Póliza Repetitivo</option>
            <option value="4">Guardar Póliza</option>
            <option value="5">Aplicar Póliza</option>
        </select>
    </div>

</div>

<div class="row mt-2 derecha ">
    <div class="col-sm-4">

    </div>
    <div class="row col-sm-8 pull-right derecha">
        <a  class="btn btn btn-success col-sm-4 ml-1 mt-1 pull-right centrar" > Ejecutar proceso automático para repetitivo seleccionado </a>
        <a   (click)="GenerarPolizaSeleccionada()" class="btn btn btn-success col-sm-3 ml-1 mt-1 pull-right centrar" >Generar póliza seleccionada </a>     
        <!-- <a   class="btn btn btn-primary col-sm-3 ml-1 mt-1 pull-right centrar">Mostrar historial de ejecución </a> -->
        <a  (click)="BuscarPoliza()" class="btn btn btn-primary  ml-1 mt-1 pull-right centrar">Buscar </a>  
        <a  (click)="LimpiarFiltro()" class="btn btn btn-primary  ml-1 mt-1 pull-right centrar">Limpiar Filtro </a>        
    </div>
</div>
<input class="checkbox mt-2" (click)="seleccionarTodos($event)" [checked]="seleccionarTodo" type="checkbox" style="margin-right: 5px;margin-left: 15px;">
<label class="text-right h5 mt-2" >  Seleccionar todos</label>

<div class="row mt-3">
    <div class="col-xs-12">
        <table class="table table-responsive-md table-hover  table-striped">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th style="vertical-align: middle;">Sel.</th>
                    <th style="vertical-align: middle;">Folio Documento</th>
                    <th style="vertical-align: middle;">Folio póliza</th>
                    <th style="vertical-align: middle;">Fecha</th>
                    <th style="vertical-align: middle;">Total</th>
                    <th style="vertical-align: middle;">Cliente</th>
                    <th style="vertical-align: middle;">Estatus Transacción</th>
                    <th style="vertical-align: middle;">Proceso Transacción</th>
                    <th style="vertical-align: middle;">Póliza manual</th>
                    <th style="vertical-align: middle;">Inf. Origen</th>
                    <th style="vertical-align: middle;">Historial de<br>ejecución</th>
                    <th style="vertical-align: middle;">Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!monitorPoliza || monitorPoliza?.length==0">
                    <td colspan="12">No hay registros almacenados o con los parámetros de busqueda aplicados</td>
                </tr>
                <tr *ngFor="let item of monitorPoliza">
                    <td class="text-center"> 
                        <input (change)="seleccionar(item)" class="mt-2" [(ngModel)]="item.seleccionado" type="checkbox">
                    </td>
                    <td>{{item.folioDoctoOrigen}}</td>
                    <td>{{item.folioPoliza}}</td>
                    <td>{{item.fechaPoliza |fechaEspanol }}</td>
                    <td>{{item.totalDoctoOrigen}}</td>
                    <td>{{item.nombreDoctoOrigen}}</td>
                    <td>{{item.estatusTransaccionPrePoliza}}</td>
                    <td>{{item.procesoTransaccionPrePoliza}}</td>
                    <td>
                        <button [disabled]="item.idProcesoTransaccionPrePoliza<4" (click)="PolizaManual(item.idEncPoliza,item.idEjercicio)"  class="btn btn-success">
                            <i class="fas fa-external-link-alt fa-lg"></i>
                        </button>
                    </td>
                    <td>
                        <a (click)="abrirModalInfoOrigen(item.idConfTecnica,item.idDoctoOrigen,item.idTransaccionPrePoliza)"  class="btn btn-success">
                            Ver
                        </a>
                    </td>
                    <td>
                        <a (click)="abrirModalHistorialEjecucion(item.idTransaccionPrePoliza)" class="btn btn-success">
                            Mostrar historial
                        </a>
                    </td>
                    <td>
                        <a (click)="VerDetalles(item.idDoctoOrigen)"  class="btn btn-success">
                            Ver detalles
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginador *ngIf="!busquedaFiltrada" [paginador] = "paginador" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
        <app-paginador *ngIf="busquedaFiltrada" [paginador] = "paginadorFiltrado" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
    </div>
</div>

