<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Configuración adicional repetitivos contables</h4>
    <button type="button" class="close" aria-label="Close" (click)="CerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <h4 class="text-left h5 " >Referencia: Generación de pólizas de bancos</h4>
        <label class="text-left h6">SP que obtiene infromación por documento del sistema origen para enviarla a contabilidad</label>
        <div class="form-group row mt-3" >            
            <div class="col-sm-2 text-left">
                <label class="text-left h5 ">Store Procedure</label>
            </div>        
            <div class="col-sm-3">
                <input type="text" name="InputStoreProcedure" [(ngModel)]="InputStoreProcedure" class="form-control">
            </div>        
            <div class="col-sm-1 text-left">
                <label class="text-right h5 mt-2">Opción</label>
            </div>        
            <div class="col-sm-2">
                <input type="number" min="1" oninput="validity.valid||(value='');" name="InputOpcion" [(ngModel)]="InputOpcion" class="form-control">
            </div>
            <div class="col-sm text-left">
                <label class="text-right h5 mt-2">Id Plantilla</label>
            </div>        
            <div class="col-sm">
                <input type="number" min="1" oninput="validity.valid||(value='');" name="InputIdPlantilla" [(ngModel)]="InputIdPlantilla" class="form-control">
            </div>
            <div class="col-sm">
                <button type="submit" [disabled]="registroNuevo" (click) ="CargarValidacionConf()" class="btn btn-primary">Cargar</button>
            </div>
           
        </div>
        <div class="row" >    
            <div *ngIf="StoreProcedureRequerido" class="col-sm-5 alert alert-danger">
                Store Procedure es requerido.
            </div>
            <div *ngIf="StoreProcedureSobrepasa" class="col-sm-5 alert alert-danger">
                Store Procedure sobrepasa el limite de caracteres.
            </div>
            <div *ngIf="OpcionRequerido && !StoreProcedureRequerido && !StoreProcedureSobrepasa" class="col-sm-5">
            </div>
            <div *ngIf="OpcionRequerido" class="col-sm-3 alert alert-danger">
                Opción es requerida.
            </div>
            <div *ngIf="IdPlantillaRequerido && !OpcionRequerido" class="col-sm-3">
            </div>
            <div *ngIf="IdPlantillaRequerido && !StoreProcedureRequerido && !StoreProcedureSobrepasa" class="col-sm-5">
            </div>
            <div *ngIf="IdPlantillaRequerido" class="col-sm alert alert-danger float-right">
                IdPlantilla es requerido.
            </div>
        </div>  
            
        <div class="form-group text-left row" >            
            <div class="col-sm-3 text-left">
                <label class="text-left h5">Número de intentos para generar póliza</label>
            </div>        
            <div class="col-sm-2 text-left">
                <input type="number" min="1" oninput="validity.valid||(value='');" name="InputIntentoPoliza" [(ngModel)]="InputIntentoPoliza" class="form-control">
            </div>       
            <div class="col-sm-2 text-left">
                <label class="text-left h5">Estatus Configuración</label>
            </div>    
            <div class="col-sm-1" (click)="ClickOnDisabled()">
                <div class="switcher switcher-success ">
                    <input type="checkbox" [checked]="!confiactiva"  [disabled]="confActivaprincipal || permitirActivarEstatus" (change)="onChangeConfiguracionActiva($event)" id="idEliminarConf" >
                    <label for="idEliminarConf"></label>
                </div>   
            </div>  
            <div class="col-sm-2">
                <label class="text-left h5 mt-2">Id Origen Prueba</label>
            </div>        
            <div class="col-sm-1 ">
                <input type="number" min="1" oninput="validity.valid||(value='');" name="InputIdPrueba" [(ngModel)]="InputIdPrueba" class="form-control pull-left ">
            </div>
        </div>
        <div class="row" >       
            <div *ngIf="IntentoPolizaRequerido" class="col-sm-5 alert alert-danger">
                Número de intentos para generar póliza es requerido.
            </div>
             <div *ngIf="IdPrueba && !IntentoPolizaRequerido" class="col-sm">
            </div>
            <div *ngIf="IdPrueba" class="col-sm alert alert-danger">
                IdPrueba es requerido.
            </div>
        </div>


        <div class="form-group text-left row" >            
            <div class="col-sm text-left">
                <label class="text-left h5 mt-2">Id Repetitivo</label>
            </div>        
            <div class="col-sm-1 text-left">
                <input type="text" readonly  name="InputIdRepetitivo" [(ngModel)]="InputIdRepetitivo" class="form-control">
            </div>       
            <div class="col-sm text-left">
                <label class="text-left h5 mt-2">Alias Repetitivo</label>
            </div>    
            <div class="col-sm-3 text-left">
                <input type="text" readonly name="InputAliasRepeteitivo" [(ngModel)]="InputAliasRepeteitivo" class="form-control">
            </div>   
            <div class="col-sm">
                <label class="text-left h5 mt-2"> Nombre Condicion</label>
            </div>        
            <div class="col-sm-3 ">
                <input type="text" readonly  name="InputCondicion" [(ngModel)]="InputCondicion" class="form-control pull-left ">
            </div>
        </div>
        <div *ngIf="MensajeErrorCargarValidacion!=null" class="col-sm-12 alert alert-danger">
            {{MensajeErrorCargarValidacion}}
        </div>
        <div *ngIf="MensajeErrorObjetosVacios!=null" class="col-sm-12 alert alert-danger">
            {{MensajeErrorObjetosVacios}}
        </div>

    </div>
    <div class="modal-footer">
         <button type="submit" (click)="GuardarConfTecRepetitivo()" class="btn btn-success">Guardar</button>
         <!-- <button type="submit" [disabled]="guardarDeshabilitado" (click)="GuardarConfTecRepetitivo()" class="btn btn-success">Activar Configuración</button> -->
      
    </div>
</form>

<div *ngIf="cargaDeValidacion" >
          
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Información sistema origen</a>
          <ng-template ngbNavContent>            

                <label class="text-left h5">Configuración póliza Repetitivo</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive-sm table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Encabezado Repetitivo</th>
                                <th style="vertical-align: middle;">Aplicar Poliza</th>
                                <th style="vertical-align: middle;">Requiere CFDi</th>
                                <th style="vertical-align: middle;">Asiento Repetitivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ConfPolizaRepetitivo?.length==0 || ConfPolizaRepetitivo==null" >
                                <td colspan="4" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ConfPolizaRepetitivo">
                                <td>{{validacion.idEncRepetitivo}}</td>  
                                <td>{{validacion.aplicarPoliza}}</td>
                                <td>{{validacion.requiereCFDi}}</td>
                                <td>{{validacion.asientoRepetitivo}}</td>
                            </tr>      
                        </tbody>
                    </table>                
                </div>
            </div>
                <label class="text-left h5">Encabezado</label>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-responsive-sm table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Id Repetitivo parametro</th>
                                    <th style="vertical-align: middle;">Fecha Documento</th>
                                    <th style="vertical-align: middle;">Id Moneda</th>
                                    <th style="vertical-align: middle;">Tipo de cambio</th>
                                    <th style="vertical-align: middle;">Comentarios</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="DoPrepoliza==undefined || DoPrepoliza?.length==0 " >
                                    <td colspan="5" class="text-center">No tiene registros</td>  
                                </tr>
                                <tr *ngFor="let validacion of DoPrepoliza">
                                    <td>{{validacion.idEncRepetitivoParam}}</td>  
                                    <td>{{validacion.fechaDocto|date:"dd-MM-yyyy"}}</td>
                                    <td>{{validacion.idMoneda}}</td>
                                    <td>{{validacion.tipoDeCambio  | currency}}</td>  
                                    <td>{{validacion.polizaComentarios}}</td>
                                
                                </tr>      
                            </tbody>
                        </table>                
                    </div>
                </div>
    
    
                <label class="text-left h5">Encabezado póliza adicionales</label>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-responsive-sm table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Id Adicional</th>
                                    <th style="vertical-align: middle;">Id Valor adicional</th>
                                    <th style="vertical-align: middle;">Valor Adicional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ModEncDOPolizaAdicional==undefined || ModEncDOPolizaAdicional?.length==0 || ModEncDOPolizaAdicional==null" >
                                    <td colspan="3" class="text-center">No tiene registros</td>  
                                </tr>
                                <tr *ngFor="let validacion of ModEncDOPolizaAdicional">
                                    <td>{{validacion.idAdicional}}</td>  
                                    <td>{{validacion.idValorAdicional}}</td>
                                    <td>{{validacion.valorAdicional}}</td>
                                
                                </tr>      
                            </tbody>
                        </table>                
                    </div>
                </div>
                <label class="text-left h5">Detalle de póliza</label>
                <div class="row ">
                    <div class="col-xs-12">
                        <table class="table table-responsive-md table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Orden</th>
                                    <th style="vertical-align: middle;">Id Cuenta<br>contable dinámica</th>
                                    <th style="vertical-align: middle;">Cuenta<br>contable</th>
                                    <th style="vertical-align: middle;">Id Centro<br>Costo</th>
                                    <th style="vertical-align: middle;">Id Area</th>
                                    <th style="vertical-align: middle;">Orden cuenta<br>contable y área</th>
                                    <th style="vertical-align: middle;">Monto</th>
                                    <th style="vertical-align: middle;">Concepto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ModDetDOPoliza==undefined || ModDetDOPoliza?.length==0 || ModDetDOPoliza==null" >
                                    <td colspan="8" class="text-center">No tiene registros</td>  
                                </tr>
                                <tr *ngFor="let validacion of ModDetDOPoliza">
                                    <td>{{validacion.orden}}</td>  
                                    <td>{{validacion.idCuentaContDinamica}}</td>
                                    <td>{{validacion.cuentaCont}}</td>
                                    <td>{{validacion.idCentroCosto}}</td>
                                    <td>{{validacion.idArea}}</td>  
                                    <td>{{validacion.ordenCCyArea}}</td>
                                    <td>{{validacion.monto | currency}}</td>
                                    <td>{{validacion.concepto}}</td>                        
                                </tr>     
                            </tbody>
                        </table>                
                    </div>
                </div>
                <label class="text-left h5">Detalle póliza adicional</label>
                <div class="row ">
                    <div class="col-xs-12">
                        <table class="table table-responsive-sm table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Id Partida</th>
                                    <th style="vertical-align: middle;">Campo Origen</th>
                                    <th style="vertical-align: middle;">Id Adicional</th>
                                    <th style="vertical-align: middle;">Id Valor Adicional</th>
                                    <th style="vertical-align: middle;">Valor Adicional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ModDetDOPolizaAdicional==undefined ||  ModDetDOPolizaAdicional?.length==0 || ModDetDOPolizaAdicional==null" >
                                    <td colspan="5" class="text-center">No tiene registros</td>  
                                </tr>
                                <tr *ngFor="let validacion of ModDetDOPolizaAdicional">
                                    <td>{{validacion.idPartida}}</td>  
                                    <td>{{validacion.campoOrigen}}</td>  
                                    <td>{{validacion.idAdicional}}</td>
                                    <td>{{validacion.idValorAdicional}}</td>
                                    <td>{{validacion.valorAdicional}}</td>
                                     
                                </tr>    
                            </tbody>
                        </table>                
                    </div>
                </div>
        
                <label class="text-left h5">CFDi</label>
                <div class="row ">
                    <div class="col-xs-12">
                        <table class="table table-responsive-lg table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Id Relacion póliza</th>
                                    <th style="vertical-align: middle;">Documento</th>
                                    <th style="vertical-align: middle;">UUID</th>
                                    <th style="vertical-align: middle;">Tipo de cambio</th>
                                    <th style="vertical-align: middle;">Moneda</th>
                                    <th style="vertical-align: middle;">RFC Emisor</th>
                                    <th style="vertical-align: middle;">RFC Receptor</th>
                                    <th style="vertical-align: middle;">Total</th>
                                    <th style="vertical-align: middle;min-width: 80px;">Fecha</th>
                                    <th style="vertical-align: middle;">Referencia 1</th>
                                    <th style="vertical-align: middle;">Referencia 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ModDetDOPolizaCFDi==undefined || ModDetDOPolizaCFDi?.length==0 || ModDetDOPolizaCFDi==null" >
                                    <td colspan="11" class="text-center">No tiene registros</td>  
                                </tr>
                                <tr *ngFor="let validacion of ModDetDOPolizaCFDi">
                                    <td>{{validacion.idRelPolizaCFDi}}</td>  
                                    <td>{{validacion.documento}}</td>
                                    <td>{{validacion.uuid}}</td>
                                    <td>{{validacion.tipoCambio}}</td>
                                    <td>{{validacion.moneda}}</td>  
                                    <td>{{validacion.rfcEmisor}}</td>
                                    <td>{{validacion.rfcReceptor}}</td>
                                    <td>{{validacion.total | currency}}</td> 
                                    <td>{{validacion.fecha|date:"dd-MM-yyyy"}}</td>
                                    <td>{{validacion.referencia1}}</td>
                                    <td>{{validacion.referencia2}}</td>                                 
                                </tr>      
                            </tbody>
                        </table>                
                    </div>
                </div>
        
    
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Información sistema origen y repetitivo (Pre-Póliza)</a>
          <ng-template ngbNavContent>
            
            <label class="text-left h5">Encabezado de póliza</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive table-hover table-bordered table-striped" >
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Encabezado<br>de póliza</th>
                                <th style="vertical-align: middle;min-width: 80px;">Fecha</th>
                                <th style="vertical-align: middle;">Id Periodo</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Id Subtipo de póliza</th>
                                <th style="vertical-align: middle;">Id Tipo contabilidad</th>
                                <th style="vertical-align: middle;">Id Origen</th>
                                <th style="vertical-align: middle;">Id Moneda</th>
                                <th style="vertical-align: middle;">Id Estado de póliza</th>
                                <th style="vertical-align: middle;">Estado de póliza</th>
                                <th style="vertical-align: middle;">Tipo de cambio</th>
                                <th style="vertical-align: middle;">Subtipo</th>
                                <th style="vertical-align: middle;">Folio Subtipo de póliza</th>
                                <th style="vertical-align: middle;">Folio<br>de póliza</th>
                                <th style="vertical-align: middle;">Cargos</th>
                                <th style="vertical-align: middle;">Abonos</th>
                                <th style="vertical-align: middle;">Cargos USD</th>
                                <th style="vertical-align: middle;">Abonos USD</th>
                                <th style="vertical-align: middle;">Comentarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModEncPoliza==undefined || ModEncPoliza?.length==0 || ModEncPoliza==null" >
                                <td colspan="19" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of (ModEncPoliza || [])">
                                <td>{{validacion.idEncPoliza}}</td>  
                                <td>{{validacion.fecha|date:"dd-MM-yyyy"}}</td>
                                <td>{{validacion.idPeriodo}}</td>
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.idSubTipoPoliza}}</td>  
                                <td>{{validacion.idsTipoContabilidad}}</td>
                                <td>{{validacion.idOrigen}}</td>
                                <td>{{validacion.idMoneda}}</td> 
                                <td>{{validacion.idEstadoPoliza}}</td>
                                <td>{{validacion.estadoPoliza}}</td>
                                <td>{{validacion.tipoDeCambio}}</td>              
                                <td>{{validacion.subTipo}}</td>
                                <td>{{validacion.folioSubTipoPoliza}}</td> 
                                <td>{{validacion.folioPoliza}}</td>
                                <td>{{validacion.cargos  | currency}}</td>
                                <td>{{validacion.abonos | currency}}</td>    
                                <td>{{validacion.cargosUsd  | currency}}</td>
                                <td>{{validacion.abonosUsd | currency}}</td>          
                                <td>{{validacion.comentario}}</td>                
                            </tr>  
                        </tbody>
                    </table>                
                </div>
            </div>
    
            <label class="text-left h5">Encabezado póliza adicional</label>
            <div class="row ">
                <div class="col-xs-12">
                    <table class="table table-responsive-md table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Encabezado<br>póliza adicionales</th>
                                <th style="vertical-align: middle;">Llave Encabezado<br>póliza adicionales</th>
                                <th style="vertical-align: middle;">Id Encabezado<br>póliza</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Id Adicional</th>
                                <th style="vertical-align: middle;">Adicional</th>
                                <th style="vertical-align: middle;">Id Valor<br>adicional</th>
                                <th style="vertical-align: middle;">Valor adicional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModEncPolizaAdicional==undefined || ModEncPolizaAdicional?.length==0 || ModEncPolizaAdicional==null" >
                                <td  colspan="8" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ModEncPolizaAdicional">
                                <td>{{validacion.idEncPolizaAdicionales}}</td>  
                                <td>{{validacion.llaveEncPolizaAdicionales}}</td>
                                <td>{{validacion.idEncPoliza}}</td>
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.idAdicional}}</td>  
                                <td>{{validacion.adicional}}</td>
                                <td>{{validacion.idValorAdicional}}</td>
                                <td>{{validacion.valorAdicional}}</td> 
                            </tr>       
                        </tbody>
                    </table>                
                </div>
            </div>
            
            <label class="text-left h5">Detalle de póliza</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive-lg table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Detalle<br>de póliza</th>
                                <th style="vertical-align: middle;">Id Encabezado<br>de póliza</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Orden</th>
                                <th style="vertical-align: middle;">Id Cat Cuenta</th>
                                <th style="vertical-align: middle;">Cuenta</th>
                                <th style="vertical-align: middle;">Referencia</th>
                                <th style="vertical-align: middle;">Descripcion cuenta</th>
                                <th style="vertical-align: middle;">Cargos</th>
                                <th style="vertical-align: middle;">Abonos</th>
                                <th style="vertical-align: middle;">Cargos USD</th>
                                <th style="vertical-align: middle;">Abonos USD</th>
                                <th style="vertical-align: middle;">Concepto</th>      
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModDetPoliza==undefined || ModDetPoliza==undefined || ModDetPoliza?.length==0  " >
                                <td colspan="13" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ModDetPoliza">
                                <td>{{validacion.idDetPoliza}}</td>  
                                <td>{{validacion.idEncPoliza}}</td>
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.orden}}</td>
                                <td>{{validacion.idCatCuenta}}</td>  
                                <td>{{validacion.cuenta}}</td>
                                <td>{{validacion.referencia}}</td>
                                <td>{{validacion.descripcionCuenta}}</td> 
                                <td>{{validacion.cargos  | currency}}</td>
                                <td>{{validacion.abonos | currency}}</td>
                                <td>{{validacion.cargosUsd | currency}}</td>              
                                <td>{{validacion.abonosUsd | currency}}</td>   
                                <td>{{validacion.concepto}}</td>                            
                            </tr>     
                        </tbody>
                    </table>                
                </div>
            </div>
    
            <label class="text-left h5">Tipo de contabilidad</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive-sm table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Detalle de póliza<br>en tipo contabilidad</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Id Encabezado<br>de póliza</th>
                                <th style="vertical-align: middle;">Id Tipo contabilidad</th>                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModDetPolizaTipoContabilidad==undefined || ModDetPolizaTipoContabilidad?.length==0 || ModDetPolizaTipoContabilidad==null" >
                                <td colspan="4" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ModDetPolizaTipoContabilidad">
                                <td>{{validacion.idDetPolizaTipoContabilidad}}</td>  
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.idEncPoliza}}</td>
                                <td>{{validacion.idTipoContabilidad}}</td>
                            
                            </tr>     
                        </tbody>
                    </table>                
                </div>
            </div>
    
            <label class="text-left h5">Detalle de póliza adicional</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive-md table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let validacion of ModDetPolizaAdicionales">
                            
                            </tr>     
                        </tbody>
                    </table>                
                </div>
            </div>
            
            <label class="text-left h5">Detalle de póliza centro costo</label>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive-md table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Detalle<br>de póliza</th>
                                <th style="vertical-align: middle;">Id Centro costo</th>
                                <th style="vertical-align: middle;">Nombre de<br>centro costo</th>
                                <th style="vertical-align: middle;">Id Area</th>
                                <th style="vertical-align: middle;">Nombre area</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Orden</th>
                                <th style="vertical-align: middle;">Cargos</th>
                                <th style="vertical-align: middle;">Abonos</th>
                                <th style="vertical-align: middle;">Cargos USD</th>
                                <th style="vertical-align: middle;">Abonos USD</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModDetPolizaCentroCosto==undefined || ModDetPolizaCentroCosto?.length==0 || ModDetPolizaCentroCosto==null" >
                                <td colspan="11" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ModDetPolizaCentroCosto">
                                <td>{{validacion.idDetPoliza}}</td>  
                                <td>{{validacion.idCentroCosto}}</td>
                                <td>{{validacion.nombreCentroCosto}}</td>
                                <td>{{validacion.idArea}}</td>
                                <td>{{validacion.nombreArea}}</td>  
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.orden}}</td>
                                <td>{{validacion.cargos | currency}}</td> 
                                <td>{{validacion.abonos | currency}}</td>
                                <td>{{validacion.cargosUsd | currency}}</td>
                                <td>{{validacion.abonosUsd | currency}}</td>              
                                
                            </tr>     
                        </tbody>
                    </table>                
                </div>
            </div>
    
            <label class="text-left h5">CFDi</label>
            <div class="row ">
                <div class="col-xs-12">
                    <table class="table table-responsive table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="vertical-align: middle;">Id Relacion póliza CFDi</th>
                                <th style="vertical-align: middle;">Id Encabezado de poliza</th>
                                <th style="vertical-align: middle;">Id Ejercicio</th>
                                <th style="vertical-align: middle;">Documento</th>
                                <th style="vertical-align: middle;">UUID</th>
                                <th style="vertical-align: middle;">Tipo de cambio</th>
                                <th style="vertical-align: middle;">Moneda</th>
                                <th style="vertical-align: middle;">RFC Emisor</th>
                                <th style="vertical-align: middle;">RFC Receptor</th>
                                <th style="vertical-align: middle;">Total</th>
                                <th style="vertical-align: middle;min-width: 80px;">Fecha</th>
                                <th style="vertical-align: middle;">Referencia 1</th>
                                <th style="vertical-align: middle;">Referencia 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ModRelPolizaCFDi==undefined || ModRelPolizaCFDi?.length==0" >
                                <td colspan="13" class="text-center">No tiene registros</td>  
                            </tr>
                            <tr *ngFor="let validacion of ModRelPolizaCFDi">
                                <td>{{validacion.idRelPolizaCFDi}}</td>  
                                <td>{{validacion.idEncPoliza}}</td>
                                <td>{{validacion.idEjercicio}}</td>
                                <td>{{validacion.documento}}</td>
                                <td>{{validacion.uuid}}</td>  
                                <td>{{validacion.tipoCambio}}</td>
                                <td>{{validacion.moneda}}</td>
                                <td>{{validacion.rfcEmisor}}</td> 
                                <td>{{validacion.rfcReceptor}}</td>
                                <td>{{validacion.total | currency}}</td>
                                <td>{{validacion.fecha|date:"dd-MM-yyyy"}}</td>         
                                <td>{{validacion.referencia1}}</td> 
                                <td>{{validacion.referencia1}}</td>
                                
                            </tr>            
                        </tbody>
                    </table>                
                </div>
            </div>
    
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
            <a ngbNavLink>{{MensajePestanaErrores}} &nbsp;  <i *ngIf="Msgs.length!=0" class="fas fa-exclamation-triangle" style="color:rgb(235, 81, 81)"  ></i> <i *ngIf="Msgs.length==0" class="fas fa-check-square" style="font-size:15px;color:rgb(29, 187, 29)"></i></a>
            <ng-template ngbNavContent>
              
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-responsive-sm table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Lista de errores</th>
                      
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="Msgs==undefined || Msgs?.length==0 || ModDetPolizaTipoContabilidad==null" >
                                    <td colspan="1" class="text-center">No hay errores</td>  
                                </tr>
                                <tr *ngFor="let msg of Msgs">
                                    <td>{{msg.mensajeError }}</td>                                  
                                </tr>     
                            </tbody>
                        </table>                
                    </div>
                </div>

            </ng-template>
          </li>
    
      </ul>
    <div [ngbNavOutlet]="nav" class=""></div>
    
            
   
</div>
 
  
