<div class="form-group row top-title" >
    <div class="col-xs-11">
        <h1 class="text-white-lighter">Programación de ejecución de procesos según reglas y condiciones de negocio</h1>
    </div>
    <div class="col-xs-1">
        <button (click)="abrirModalTareas()" class="btn btn-lg btn-success pull-right"><i class="" aria-hidden="true"></i>Nuevo</button>
    </div>
</div>

<div class="row " style="margin-top: 50px;  display: flex; justify-content: center; align-items: center;" >
    <div class="col-sm-2 ">
        <label class="text-right h4" >Referencia / Condición</label>
    </div>

    <div class="col-sm-5">
        <div class="input-group">
            <input readonly type="text" name="selRefCond" [(ngModel)]="InputSelRefCond" class="form-control">
            <div class="input-group-append">
                <button (click)="abrirModalSelRefCond()"  class="btn btn-primary" type="button"><i class="fas fa-search fa-lg"></i></button>
            </div>
        </div>
    </div>
<!-- 
    <div class="col-sm-2 text-center">
        <label class="text-right h4 mt-1"  >Estatus de programación</label>
    </div>

    <div class="col-sm-2">
        <select [(ngModel)]="SelectEstatusProgramacion" class="form-control form-select">
            <option value="Todos">Todos</option>
            <option value="Programado">Programado</option>
            <option value="No Programado">No Programado</option>

        </select>
    </div> -->

    <div class="col-sm">
        <button class="btn btn-primary pull-left ml-1" (click)="CargarTareasFiltrada(1)"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
        <button class="btn btn-primary ml-1" (click)="LimpiarFiltro()"> Limpiar Filtro</button>
    </div>
    <!-- <div class="col-sm-2">
        <button class="btn btn-primary pull-right ml-1" (click)="LimpiarFiltro()"> Limpiar Filtro</button>
    </div> -->

</div>

<div class="row mt-5">
    <div class="col-xs-12">
        <table class="table table-responsive-md table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th style="vertical-align: middle;">Descripción</th>
                    <th style="vertical-align: middle;">Calendarización</th>
                    <th>Fecha<br>configuración</th>
                    <th>Ultima<br>ejecución</th>
                    <th style="vertical-align: middle;">Ejecutar</th>
                    <th style="vertical-align: middle;">Ver log</th>
                    <th>Programación<br>calendarizada</th>
                    <th>Modificar<br>programación</th>
                    <th>Programación<br>activa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!procesos || procesos?.length==0">
                    <td colspan="9">No hay tareas registradas o con los parámetros de busqueda aplicados</td>
                </tr>
                <tr *ngFor="let proceso of procesos">
                    <td>{{proceso.descripcionCondicion}}</td>  
                    <td>{{proceso.frecuencia}}</td>
                    <td>{{proceso.fechaInsert|date:"dd-MM-yyyy"}}</td>
                    <td>{{ (proceso.ultimaEjecucion !== null) ? (proceso.ultimaEjecucion | date: "dd-MM-yyyy"):"No se ha ejecutado"}}</td>
                    <td>
                        <i class="fas fa-sync-alt fa-2x" style="cursor: pointer;"></i>
                    </td>
                    <td>
                        <i (click)="abrirModalVerLog()" class="fas fa-bars fa-2x" style="cursor: pointer;"></i>
                    </td>
                    <td>
                        <div class="switcher switcher-success">
                            <input type="checkbox" (change)="onChangeProgramacionCalendarizada($event)"  id="switcherProgramacionCalendarizada,{{proceso.idTarea}}" >
                            <label for="switcherProgramacionCalendarizada,{{proceso.idTarea}}"></label>
                        </div>
                    </td>
                    <td>
                        <i (click)="abrirEditModalTareas(proceso)" class=" btn btn-success fas fa-lg fa-pencil-alt" style="cursor: pointer;"></i>
                    </td>
                    <td>
                        <div class="switcher switcher-success">
                            <input data-theme="default" type="checkbox" [checked]="!proceso.estatus" (change)="onChangeEliminarProgramacion($event,proceso)"  id="{{proceso.idTarea}}" >
                            <label for="{{proceso.idTarea}}"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <app-paginador [paginador] = "paginador"  ></app-paginador> -->
        <app-paginador  *ngIf="!procesosFiltrados" [paginador] = "paginador" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
        <app-paginador  *ngIf="procesosFiltrados" [paginador] = "paginadorFiltrado" (evtPaginaSeleccionada)="evtPaginaSeleccionada($event)" ></app-paginador>
        <!-- <ngb-pagination class="d-flex justify-content-center" [(page)]="page"   [pageSize]="pageSize"  [collectionSize]="procesos.length"></ngb-pagination> -->
    </div>
</div>